.about {
  padding-top: 70px;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
}

.title p {
  display: inline-block;
  min-width: 700px;
}

.title.white {
  color: #fff;
}

.title h2:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 150px;
  height: 4px;
  background: #000;
}

.title.white h2:before {
  background: #fff;
}

.about {
  background: #000;
}

.about_content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 40px;
}

.about_text {
  min-width: 30%;
  width: 30%;
  margin: 0 60px 20px;
  text-align: justify;
}

.about_text p {
  margin-bottom: 10px;
  text-indent: 40px;
  letter-spacing: 0.5px;
  font-size: 1.1em;
  font-weight: 300;
  color: #fff;
}

.about_img img {
  border-radius: 10px;
  max-width: 100%;
}

@media (max-width: 1500px) {
  .about_text {
    min-width: 40%;
    width: 40%;
  }
}

@media (max-width: 991px) {
  .about_content {
    flex-direction: column;
    margin-top: 0;
  }

  .about_text,
  .about_title p {
    min-width: 100%;
    width: 100%;
  }

  .about_text {
    margin: 0 0 20px;
  }
  .about_img {
    display: flex;
    justify-content: center;
  }
}
