@import '../scss/priceSlider.css';
@import '../scss/btnSend.css';

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
}

.contact_form {
  position: relative;
  width: 700px;
  margin-top: 20px;
}

.contact_row {
  display: flex;
  width: 100%;
}

.contact_col50 {
  width: 50%;
  margin: 20px;
}

.contact_col100 {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.contact_form input,
.contact_form textarea {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;

  background: #111;
  color: #fff;
  font-size: 16px;
  resize: none;
}

.contact_form textarea {
  height: 100px;
}

.contact_form input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 500;
  max-width: 150px;

  background: #00bcd4;
  color: #fff;
  letter-spacing: 1.5px;
  cursor: pointer;
}

@media (max-width: 991px) {
    .contact_form {
      width: 100%;
    }
    .contact_row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .contact_col50 {
      width: 100%;
    }
}