.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;

  top: 0;
  right: -100%;
  width: calc(100% - 650px);
  height: 100%;
  transition: 0.5s;
  background: #000;

  z-index: 99;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar ul li {
  margin: 5px 0;
  list-style: none;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.sidebar ul li a:hover {
  color: #00bcd4;
}

@media (max-width: 1500px) {
  .sidebar {
    width: calc(100% - 550px);
  }
}

@media (max-width: 991px) {
  .sidebar {
    width: 100%;
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .sidebar ul li a {
    font-size: 1.2em;
    letter-spacing: 1.5px;
  }
}
