$top_indent: 30px;

.experience_content {
  display: flex;
  justify-content: center;

  h2 {
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  h4 {
    margin-top: $top_indent;
    text-decoration: underline;
    font-weight: 500;
  }

  ul {
    padding-left: 20px;
  }
}

.side {
  width: 30%;
}

.experience_left {
  text-align: right;
  padding-right: 40px;
  border-right: 1px solid #000;
}

.experience_right {
  padding-left: 40px;

  p {
    margin-top: 10px;
    text-decoration: underline;
  }

  .experience_place {
    font-weight: 400;
    font-style: italic;
  }
}

.experience_skills {
  margin-top: $top_indent;
  li {
    list-style-type: none;
  }
}

@media (max-width: 991px) {
  .side {
    width: 45%;
  }
}
