.experience_content {
  display: flex;
  justify-content: center; }
  .experience_content h2 {
    margin-bottom: 30px;
    letter-spacing: 1px; }
  .experience_content h4 {
    margin-top: 30px;
    text-decoration: underline;
    font-weight: 500; }
  .experience_content ul {
    padding-left: 20px; }

.side {
  width: 30%; }

.experience_left {
  text-align: right;
  padding-right: 40px;
  border-right: 1px solid #000; }

.experience_right {
  padding-left: 40px; }
  .experience_right p {
    margin-top: 10px;
    text-decoration: underline; }
  .experience_right .experience_place {
    font-weight: 400;
    font-style: italic; }

.experience_skills {
  margin-top: 30px; }
  .experience_skills li {
    list-style-type: none; }

@media (max-width: 991px) {
  .side {
    width: 45%; } }
