$turquoise: #00bcd4;
$html-color: #e44d26;
$css-color: #0e57a7;
$js-color: #d4b830;
$react-color: #22c2e2;
$other-color: #cd5b9f;
$gray: rgba(151,151,151,1);
$btn-w: 220px;
$btn-h: 56px;
$shadows-small: generateStart(500);
$shadows-medium: generateStart(400);
$shadows-big: generateStart(300);
$width-work-card: 450px;
$height-work-card: 300px;